<!DOCTYPE html>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<header>
	<h2><img style="height:50px;display:inline" class="img-responsive" src="/static/arsenl.bmp"/> ARSENL Test Reporting</h2></span>
</header>

<ul class="breadcrumb">
{% block breadcrumb %}
{% endblock breadcrumb %}
</ul>

asdf

{% block content %}
<table class="table table-striped">
	<thead>
	<tr>
	{% block table_toprow %}
	{% endblock table_toprow %}
	</tr>
	</thead>
</table>
{% endblock content %}