{% extends "base.html" %}

{% block breadcrumb %}
<li class="active">Projects</li>
{% endblock breadcrumb %}

<div class="container">

{% if project_list %}

    {% block table_toprow %}
    	<th> Project Name </th>
    	<th> Last run </th>
    	<th> Runtime (seconds) </th>
    	<th> PASS </th>
    	<th> FAIL </th>
    	<th> ERROR </th>
    	<th> Total </th>
    {% endblock table_toprow %}

    {% block table_contents %}
    {% for project in project_list %}
        <tr class="clickableRow" data-url="{% url 'resultsdisplay:TestRun' project.project_id %}">
	        <td> {{ project.name }} </td>
	        <td> {{ project.lastRun }} </td>
	        <td> {{project.total_time}} </td>
	        <td> {{project.passed}} </td>
	        <td> {{project.failed}} </td>
	        <td> {{project.errored}} </td>
	        <td> {{project.total}} </td>
        </tr>
        <tr>
	        <td> Total Test Runs in Database: {{project.total_runs}} </td>
        </tr>
    {% endfor %}
    {% endblock table_contents %}

{% else %}
    <p>No projects are available.</p>
{% endif %}

{% block content %}
<div class="container">
<div class="center-block">

{% for job in job_list %}
	{% if test_running %}
		{% if job.running %}
			<div class="panel panel-default">

				<div class="panel-heading">Current Test Status</div>

				<div class="panel-body">
					{{job.name}} is currently running.
				</div>

				<div class="panel-footer">

					<div class="progress progress-striped active" id="{{job.name}}_progressouter" data-apiurl={{job.apiurl}}>
		   				<div class="progress-bar" id="{{job.name}}_progress" data-apiurl={{job.apiurl}}></div>
					</div>
				</div>

			</div>
		{% else %}

		{% endif %}
	{% endif %}
{% endfor %}
{% if test_running %}
{% else %}
	<div class="panel panel-default">
	<div class="panel-heading">Current Test Status</div>

		<div class="panel-body">
			No tests currently running.
		</div>
	</div>
{% endif %}
</div>
</div>

<script language="javascript" type="text/javascript">
$(document).ready(function(){
  var progresspump = setInterval(function(){
  	$('.progress').each(function(el, i) {
  		var $this = $(this);
  		var $bar  = $this.find('.progress-bar');
  		/* query the completion percentage from the server */
	    $.getJSON($this.data('apiurl'), function(data){

	      var progressNum = data.progress;
	      /* update the progress bar width */
	      $bar.css('width',progressNum+'%');
	      /* and display the numeric value */
	      $bar.html(progressNum+'%');

	      /* test to see if the job has completed */
	      if(progressNum > 99 || progressNum == 'XPath */executor/progress/text() didn?t match') {
	        clearInterval(progresspump);
	        $this.removeClass("active");
	        $bar.html("Done");
	        $bar.css('color','green');
	      }
  	});
    
    })
  }, 500);});
</script>

{% endblock content %}

</div>