{% extends "base.html" %}

{% block breadcrumb %}
<li class="active">Projects</li>
{% endblock breadcrumb %}

<div class="container">

{% if project_list %}

    {% block table_toprow %}
    	<th> Name </th>
    	<th> Tests </th>
    	<th> Latest runtime (seconds) </th>
    	<th> PASS </th>
    	<th> FAIL </th>
    	<th> ERROR </th>
    	<th> Total </th>
    {% endblock table_toprow %}

    {% block table_contents %}
    {% for project in project_list %}
        <tr>
	        <td><a href="{% url 'resultsdisplay:TestRun' project.project_id %}">{{ project.name }}</a></td>
	        <td> {{project.total_tests}} </td>
	        <td> {{project.total_time}} </td>
	        <td> {{project.passed}} </td>
	        <td> {{project.failed}} </td>
	        <td> {{project.errored}} </td>
	        <td> {{project.total}} </td>
        </tr>
        <tr>
	        <td> Lifetime {{project.total_runs}} </td>
        </tr>
    {% endfor %}
    {% endblock table_contents %}

{% else %}
    <p>No projects are available.</p>
{% endif %}
</div>