{% extends "base.html" %}


{% block breadcrumb %}
<li><a href = "{% url 'resultsdisplay:index' %}"> {{project_name}}</a></li>
<li><a href = "{% url 'resultsdisplay:TestRun' project_id %}"> Run {{ordered_run_num}}</a></li>
<li><a href = "{% url 'resultsdisplay:TestGroup' project_id run_num ordered_run_num %}"> {{type_name}} Tests</a></li>
<li class="active">Test Cases</li>
{% endblock breadcrumb %}

<div class="container">

{% if testcase_list %}
    
	{% block table_toprow %}
    	<th> Test Name </th>
    	<th> Test Function </th>
    	<th> Result </th>
    	<th> Time </th>
    {% endblock table_toprow %}

    {% block table_contents %}
    {% for testcase in testcase_list %}
    	<tr class="clickableRow" data-url="{% url 'resultsdisplay:Details' testcase.project_id testcase.run_num ordered_run_num group_id testcase.test_result_id %}">
        	<td> {{testcase.name}} </td>
        	<td> {{testcase.test_function}} </td>
        	<td> 
				{%if testcase.result == "PASS"%}
				<font color="green">{{ testcase.result }}</font>
				{%elif testcase.result == "ERROR"%}
				<font color="#b6b600">{{ testcase.result }}</font>
				{%else%}
				<font color="red">{{ testcase.result }}</font>
				{% endif %}
			</td>
        	<td> {{testcase.run_time}} </td>
        </tr>
    {% endfor %}
    {% endblock table_contents %}

{% else %}
    <p>No test cases are available.</p>
{% endif %}
</ul>
</div>