{% extends "base.html" %}

{% block breadcrumb %}
<li><a href = "{% url 'resultsdisplay:index' %}"> {{project_name}}</a></li>
<li><a href = "{% url 'resultsdisplay:TestRun' project_id %}"> Run {{ordered_run_num}}</a></li>
<li class="active">Test Groups</li>
{% endblock breadcrumb %}

<div class="container">

{% if testgroup_list %}
    {% block table_toprow %}
    	<th> Test Group </th>
    	<th> Time </th>
    	<th> PASS </th>
    	<th> FAIL </th>
    	<th> ERROR </th>
    	<th> Total </th>
    {% endblock table_toprow %}

    {% block table_contents %}
    {% for testgroup in testgroup_list %}
    	<tr class="clickableRow" data-url="{% url 'resultsdisplay:TestCase' project_id run_num ordered_run_num testgroup.type_num %}">
    		<td> {{ testgroup.test_type }} </td>
        	<td> {{testgroup.total_time}} </td>
        	<td> {{testgroup.passed}} </td>
        	<td> {{testgroup.failed}} </td>
        	<td> {{testgroup.errored}} </td>
        	<td> {{testgroup.total}} </td>
        </tr>
    {% endfor %}
    {% endblock table_contents %}

{% else %}
    <p>No test groups are available.</p>
{% endif %}
</thead>