{% extends "base.html" %}
{% load subtraction %}

{%block includes%}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{%endblock includes%}

{% block breadcrumb %}
<li><a href = "{% url 'resultsdisplay:index' %}"> {{ project_name }}</a></li>
<li class="active">Test Runs</li>
{% endblock breadcrumb %}

{% if testrun_list %}

	{% block table_header %}
    	<form name="run_select" action="." method="POST">
    	{% csrf_token %}
	{% endblock table_header %}

	{% block table_toprow %}
		<th> &nbsp; </th>
    	<th> Run </th>
    	<th> Jenkins Run ID </th>
    	<th> Date </th>
    	<th> Time </th>
    	<th> PASS </th>
    	<th> FAIL </th>
    	<th> ERROR </th>
    	<th> Total </th>
    	<th> &nbsp; </th>
    {% endblock table_toprow %}

    {% block table_contents %}
	    {% for testrun in testrun_list %}
	    {% with ordered_run_num=testrun_list|length|subtract:forloop.counter|add:1 %}

	        <tr class="clickableRow" data-url="{% url 'resultsdisplay:TestGroup' testrun.project_id testrun.run_num ordered_run_num %}">
	        	<td class="unClickable"> <input type="checkbox" name="checkbox" id="checkbox[]" value="{{testrun.run_num}}" /> </td>
	        	<td> {{ordered_run_num}} </td>
	        	<td> {{testrun.run_num }}</td>
	        	<td> {{testrun.datestamp }} </td>
	        	<td> {{testrun.total_time}} </td>
	        	<td> {{testrun.passed}} </td>
	        	<td> {{testrun.failed}} </td>
	        	<td> {{testrun.errored}} </td>
	        	<td> {{testrun.total}} </td>
	        	<td class="unClickable"> <a href="{% url 'resultsdisplay:PrinterFriendly' testrun.project_id testrun.run_num ordered_run_num%}"><span class="glyphicon glyphicon-print"></span></a></td>
	        </tr>
	    {% endwith %}

	    {% endfor %}
    {% endblock table_contents %}

    {% block table_footer %}
	<input type="submit" onclick="return confirm('Are you sure you want to delete these?')" value="Delete selected" />
    </form>
    {% endblock table_footer %}

{% else %}
    <p>No test runs are available.</p>
{% endif %}