{% extends "base.html" %}

{% block includes %}
<script type="text/javascript" src="{{ STATIC_URL }}transition.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}collapse.js"></script>
{% endblock includes %}

{% block breadcrumb %}
<li><a href = "{% url 'resultsdisplay:index' %}"> {{project_name}}</a> </li>
<li><a href = "{% url 'resultsdisplay:TestRun' project_id %}"> Run {{ordered_run_num}}</a></li>
<li><a href = "{% url 'resultsdisplay:TestGroup' project_id run_num ordered_run_num %}"> {{type_name}} Tests </a></li>
<li><a href = "{% url 'resultsdisplay:TestCase' project_id run_num ordered_run_num group_id %}"> {{testresult.name}} </a></li>
<li class="active"> Test Details </li>
{% endblock breadcrumb %}

{% block content %}
{% if testresult %}
<table>
<tr><td><strong><font color="#317EAC">Name:</font></strong> &nbsp;&nbsp;</td><td>{{ testresult.name }}</td></tr>
<tr><td><strong><font color="#317EAC">Run Number: </font></strong> &nbsp;&nbsp;</td><td>{{ordered_run_num}} </td></tr>
<tr><td><strong><font color="#317EAC">Jenkins Run: </font></strong> &nbsp;&nbsp;</td><td>{{testresult.run_num}}</td></tr>

<tr><td><strong><font color="#317EAC">Status:</font></strong></td><td>

	{%if testresult.result == "PASS"%}
		<font color="green">
	{%elif testresult.result == "ERROR"%}
		<font color="#b6b600">
	{%else%}
		<font color="red">
	{% endif %}

	{{ testresult.result }}</font>
</td></tr>

<tr><td><strong><font color="#317EAC">Runtime:</font></strong> &nbsp;&nbsp;</td><td>{{ testresult.run_time }}</td></tr>
<tr><td><strong><font color="#317EAC">Datestamp:</font></strong> &nbsp;&nbsp;</td><td>{{ testresult.datestamp }}</td></tr>
<tr><td><strong><font color="#317EAC">SHA List: </font></strong> &nbsp;&nbsp;</td><td>{{testresult.sha_list}}</td></tr>
<tr><td><strong><font color="#317EAC">Raw XML Output:</font></strong>&nbsp;&nbsp;</td><td><a href="{{ xml_url }}">{{xml_url}}</a></td></tr>
</table>

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse">
			<h3 class="panel-title">
			<a data-toggle="collapse" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span>
			Sys Output</a></h3>
		</div>

		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<pre>{{sysout}}</pre>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse">
			<h3 class="panel-title">
			<a data-toggle="collapse" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span>
			Mav Output</a></h3>
		</div>

		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<pre>{{mavout}}</pre>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse">
			<h3 class="panel-title">
			<a data-toggle="collapse" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span>
			JSBSim Output</a></h3>
		</div>

		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<pre>{{jsbout}}</pre>
			</div>
		</div>
	</div>
</div>

 
{% else %}
    <p>No test result details are available.</p>
{% endif %}
{% endblock content %}