<!DOCTYPE html>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% load staticfiles %}
{% load bootstrap3 %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tablesorter.js"></script> 
{% bootstrap_javascript %}
{% block includes %}
{% endblock includes %}

<header>

	<h2><a href="https://wiki.nps.edu/display/~thchung/ARSENL"><img style="padding-left:10px;height:50px;display:inline" class="img-responsive" src="{{STATIC_URL}}arsenl.bmp"/></a> ARSENL Test Reporting
<span class="pull-right" style="display:inline"><a href="/ci/"><img style="padding-right:10px;height:50px;display:inline" class="img-responsive" src="{{STATIC_URL}}jenkins.bmp"/></a></span></h2>
</header>

<ul class="breadcrumb">
&nbsp;
{% block breadcrumb %}
{% endblock breadcrumb %}

{% if user.is_authenticated %}
<text style="float: right">Logged in as {{user.username}} 
<a href="{% url 'resultsdisplay:logout' %}">(Logout)</a></a>
{% endif %}

</ul>

<div class="container">

{% block table_header %}
{% endblock table_header %}
<table id="display_table" class="table table-striped table-hover">

	<thead>
	<tr>
		{% block table_toprow %}
		{% endblock table_toprow %}
	</tr>
	</thead>

	<tbody>
		{% block table_contents %}
		{% endblock table_contents %}
	</tbody>

</table>
{% block table_footer %}
{% endblock table_footer %}

{% block content %}
{% endblock content %}
</div>

<script language="javascript" type="text/javascript">
$(document).ready(function() { 
    $("#display_table").tablesorter();
    $('th.header').hover(function(argument) {
    	$(this).toggleClass('arrow');
    	console.log('hover', $(this));
    });
});
$(document).ready(function() {
	$(".unClickable").click(function(event) {
          event.stopPropagation();
      });
});
$(document).ready(function() {
      $(".clickableRow").on("click", function() {
          location.href=$(this).data('url');
      });
});
</script>